*{
        /* RESET ; */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

.img{
    max-width: 100%;
}
/* FINE RESET */



.container{
    display: flex;
    background-color: red;
    border: 1px solid blue;
    height: 80px;
}

.flex{
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}

.col{
    display: flex;
border: 1px solid;

}




